
<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
   

    <h1>SETTING</h1>

    <mat-form-field>
        <mat-label>Edit Profile</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>My Applications</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contact us</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Feedback</mat-label>
        <input matInput>
    </mat-form-field>
   

    <button mat-raised-button color="primary">Sign Out</button>

</div>