<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
    <p>Welcome to Job Nest</p>

    <p>Enter your details to sign up.</p>

    <mat-form-field appearance="outline" >
        <mat-label>First Name</mat-label>

        <input matInput="[(ngModel)]firstName">

        <input matInput [(ngModel)]="firstName">

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>

        <input matInput="[(ngModel)]latName">

        <input matInput [(ngModel)]="lastName">

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>

        <input matInput="[(ngModel)]phoneNumber">

        <input matInput [(ngModel)]="phoneNumber">

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>

        <input matInput="[(ngModel)]email">

        <input matInput [(ngModel)]="email">

    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input matInput="[(ngModel)]password" >
        <input matInput [(ngModel)]="password">

    </mat-form-field>
    


    <button mat-raised-button color="primary" style="color: rgb(255, 255, 255);" (click)="onSignUpPost()" >Sign Up</button>


    <br><div fxLayout="row" fxLayoutAlign="center center">
        
       <br> <button mat-raised-button color="primary" (click)="onSignIn()" >Back</button>    
    </div>
    
</div>