<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
    <p>Welcome to Job Nest</p>

    <p>Enter your details to sign up.</p>

    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput >
    </mat-form-field>

    <button mat-raised-button color="primary">Sign Up</button>

</div>