<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
    <p>Welcome to Job Nest</p>

    <p>Enter your username and password to Sign In.</p>

    <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput ="[(ngModel)]email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center">
        <p style="margin-right: 20px;">Don't have any account? </p>
        <button mat-raised-button color="primary" (click)="onSignUp()" >Sign Up</button>    
    </div>

    <button style="margin-top: 80px;" mat-raised-button color="primary" (click)="onSignInPost()" >Sign In</button>

</div>