<div fxLayout="column" fxLayoutAlign="center center" style="padding: 60px;">
    

   <h1>PROFILE</h1>

    <mat-form-field>
        <mat-label>Enter username</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Enter Qualification</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Enter Location</mat-label>
        <input matInput>
    </mat-form-field>

    
    <button mat-raised-button color="primary">NEXT</button>

</div>
