<html>
  <head>
    <style>
      h1 {text-align: center;}
    </style>
  </head>
<body>

  <h1>Sign in</h1>
  
</body>
</html>
<form action="action_page.php" method="post">
<div class="container">
  <label for="user_id"><b>Username</b></label>
  <input type="email" placeholder="Email" [(ngModel)]="user_id" name="user_id" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>

 <button type="submit" (click)="onSave()">Sign in</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>

<div class="container" style="background-color:#f1f1f1">
  <button type="button" class="cancelbtn">Cancel</button>
  <span class="psw">Forgot <a href="#">password?</a></span>
</div>
</form>