<div style="background-color: rgb(57, 148, 233); height: 80px;">
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="padding: 30px;">
    <mat-form-field appearance="outline" style="margin-top: 30px; margin-right: 20px; min-width: 400px;">
        <mat-label>Search</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-fab color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div fxLayout="column" fxLayoutAlign="center center" >
    <h1>Search for any jobs</h1>
</div>